body{
    background-color: rgb(180, 244, 18);
}
h1{
    color: rebeccapurple;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    background-color: blue;

}
.data{
    color: aquamarine;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

}
.pera{
    color: aquamarine;
    font-size: 1.5rem;
    font-weight: bold;
}

